/*hjw week3*/
body{
  font-size: 18px;
}
#header-nav{
  background: #FFFFE0;
}

.navbar-brand{
  font-size: 1.3em;
}
#collapsable-nav{
  padding:0;
}
#nav-list{
  margin: 0;
}
#nav-list li{
  border:  solid 1px #D3D3D3;
}
#page-content{
  margin-top: 1.5em;
  background: #D3D3D3;
  height: 1000px;
}
@media (max-width:768px )  {
  /* added borders for small screensize */
  #page-content.container{ 
    margin-right: 60px;
    margin-left: 60px;
  }
  
}