/*hjw week3*/
body{
  /*font-family: 'Raleway'*/
}
#header-nav{
  background: lightyellow;
  border: none;
}

.page-header{
  float: left;
  border: none;
  margin: 0px 10px;
}


/*.page-header + button.collapsed{
  min-height: 4em ;
  min-width: 4em;
  margin-top: 10px;
}*/