
/* hjw mod2 assignment 12/2 */
*{
	box-sizing: border-box;
}

h1 {text-align: center; font-size: 175%; }

h2 {font-size: 125%; }

body {
	margin: 0%;
	font-family: "Comic Sans MS", cursive, sans-serif; 
}

.container{
	padding-right: 1em;
	width: 100%;
}
.contents {
	margin: 1em;
	margin-top: 60px;
}

.inner{
	border: solid 1px black;
	background: lightgrey;
	padding-left: 1em;
}

.section-title{
	border: solid 1px black;
	position: absolute;
	margin:0px;
	top: 0px;
	right: 0px;
	text-align: center;
	padding: .5em 2.5em;
}

.triple, .double, .fullwidth {
	position: relative;
	padding-left: 2%; /* creates space around .inner divs */
	margin-bottom:2%;
	float: left;
}

#chicken { background: pink; }
#beef{ background:red; }
#sushi{ background: beige; }

@media (min-width: 992px){
	.triple{
		width: 33%;
	}
}

@media (min-width:768px ) and (max-width: 991px){
	.double {
		width: 50%;
	}
	.fullwidth{
		width: 100%;
	}
}